{% assign tecnologies = site.data.data.sidebar.tecnologies %}
{% if tecnologies %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Technologies
  </h2>

  <ul class="list-unstyled interests-list">
    {%for section in tecnologies %}
    <li>
      {{ section.type }}
      
      {%for child in section.childs %}
        <span class="lang-desc"> - {{ child.name }}</span>
        <br>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
